.oj-logo {
  display: inline-block;
  flex: 0 0 auto;
  object-fit: contain;
  vertical-align: middle;
}

.oj-logo-tiny {
  width: 15px;
  height: 15px;
}

.oj-logo-small {
  width: 18px;
  height: 18px;
}
